<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h2 style="font-family: cursive;"><%= @user.name %> さんのF o l l o w</h2>

      <%= render 'users/index', users: @users %>

    </div>
  </div>
</div>