<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h2 style="font-family: cursive;">F o l l o w e r</h2>

      <%= render 'users/index', users: @users %>
    </div>
  </div>
</div>