<% if users.exists? %>
  <% users.each do |user| %>
    <table class="table-hover">
      <tr>
        <td class="pt-5">
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg" %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= render 'users/info', user: user %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>ユーザーがいません</p>
<% end %>