<div class="container">
  <div class="row">
    <div class="col-12">
      <% @users.each do |user| %>
        <table class="table-hover">
          <tr>
            <th>
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg" %>
              <% end %>
            </th>
            <td><%= user.name %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>