<h1>ようこそ、Bike道へ!!</h1>

  <h3>『行きたい場所が ここにある』</h3>

  <!--<= video_tag("/videos/movie.webm", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>-->
  <%= video_tag("/videos/movie.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  <!--<= video_tag("/videos/movie.ogv", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>-->

