// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-content{
  max-width: 100%;
  position: relative;
  z-index: -1;
  height:100vh;
  width:100%;
}

h1{
  position:absolute;
  color:white;
  background-color:#fff000;
  font-family:"Hannari", cursive;
  top: 15%;
  left: 10%;
  text-shadow: 0 0 15px #666;
}

h3{
  position:absolute;
  max-width: 50%;
  color:white;
  font-family:"Hannari";
  top: 50%;
  left: 30%;
  text-align: end;
}


