// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heart-red{
  color: red;
}
.post-image{
  width: 100%;
}
.img1{
  background-image: image-url("phot1.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.img2{
  background-image: image-url("phot2.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
