// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heart-red{
  color: red;
}
.post-image{
  width: 100%;
}
.img{
  background-image: url('phot.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
}