// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.zoomIn img{
  transform: scale(1);
  transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoomIn a:hover img{/*hoverした時の変化*/
  transform: scale(1.2);/*拡大の値を変更したい場合はこの数値を変更*/
}

/*========= レイアウトのためのCSS ===============*/

a{
  color: #333;
  text-decoration: none;
}

.lead{
  text-align: center;
  padding: 50px 20px;
}


